.contact {
	height: 100vh;
	width: 100vw;
	font-size: 30px;
	padding-top: 50px;
	overflow-x: hidden;
}

.medium {
	height: 30px;
	padding-top: 30px;
}
.github {
	height: 45px;
	padding-top: 30px;
}
.linkedin {
	padding-top: 40px;
}
.email {
	max-width: 512px;
	overflow-x: hidden;
}
